<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>I have just built some apps</h1>
            <hr>

            <p>rails new my_apps -T -m hardwork.rb</p>
            <p>rails generate controller HomePages Home Ways Apps Contact</p>
            <p>rails server</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Have a Look</a>
        </div>
    </div>
</header>
