<!DOCTYPE html>
<html>
<head>
  <title>MyAppsHub</title>
  <%= stylesheet_link_tag 'creative/manifest.css', media: 'all' %>
  <%= javascript_include_tag 'creative/manifest.js' %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
</html>
